body {
    font-family: raleway, sans-serif;
    width: 100%;
    margin: 0;
}
#logmenu {
    width: 90%;
    margin-left: 5%;
    display: flex;
    position: relative;
    align-items: center;
}
.menu-services {
    margin-right: 20px;
    width: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
}
.menu-services a {
    width: auto;
    height: 50px;
    color: #0000ff;
    text-decoration: none;
    align-items: center;
}
.act1 {
    height: 50px;
    margin-left: 20px;
    color: black;
    display: flex;
    align-items: center; 
    justify-content: center;
 }
 .act1:hover {
    color: #0000ff;
    border-top: #0000ff 3px solid;
}
.act0, .act2 {
   height: 50px;
   color: #0000ff;
   display: flex; 
   align-items: center;
   justify-content: center;
}
.act0:hover, .act2:hover {
    border-top: #0000ff 3px solid;
}
.inscription a {
    width: auto;
    height: 50px;
    color: #0000ff;
    display: flex;
    align-items: center;
    text-decoration: none;
}
#texte {
    width: 90%;
    margin-bottom: 20px;
    margin-left: 5%;
}
#texte p {
    opacity: 0.6;
}
#texte h1 {
    font-size: 20px;
}
.navigation {
    height: 30px;
    width: 270px;
    margin-left: 5%;
    border: 1px solid #F2F2F2;
    display: flex;
    border-radius: 10px 10px 10px 10px;
}
input[type="submit"] {
    height: 30px;
    margin-right: 0px;
    border-radius:0 10px 10px 0px;
    background: #0000ff;
    color: white;
    border: none;
    
}
input[type="search"] {
    height: 30px;
    padding-left: 10px;
    border: none;
}
.maps {
    width: 40px;
    height: 30px;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F2F2F2;
    border-radius: 10px 0 0 10px;
}
.mobsearch {
    display: none;
}
#list {
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.fil {
    width: auto;
    height: 20px;
    margin-right: 50px;
    display: flex;
    align-items: center;
}
.eco {
    width: 340px;
    display: flex;
    justify-content: space-between;
}
.list1, .list2 {
    height: 20px;
    padding: 8px 8px 8px 0px;
    margin-right: 50px;
    border: solid 1px #F2F2F2;
    border-radius: 2rem 2rem 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}
.list1 i, .list2 i {
    width: 35px;
    height: 100%;
    border-radius: 50%;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #DEEBFF;
    color: #0000ff;
}
.list1 p, .list2 p {
    width: auto;
    margin-left: 40px;
    text-align: center; 
}
.list1:hover, .list2:hover {
    background: #f2f7ff;
    transform: scale(1.02);
}
.titre-pub {
    width: 90%;
    margin-left: 5%;
    display: flex;
    align-items: center;
}
.titre-pub i {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #808080;
    color: #0000ff;
}
.titre-pub p {
    opacity: 0.5;
}
#Hebergements {
    width: 90%;
    height: 550px;
    margin-left: 5%;
    justify-content: space-between;
    position: relative;
    display: flex; 
}
.titre-heber {
    width: auto;
    height: 50px;
    border-radius: 10px 10px 0px 0px;
    background-color: #F2F2F2;
}
.titre-heber h2 {
    width: auto;
    height: 100%;
    margin-left: 30px;
    font-size: 20px;
    margin-top: 10px;
    align-items: center;
    font-weight: bold;
}
#blocprinc {
    width: 58%;
    height: 550px;
    border-radius: 10px 10px 10px 10px;
    background-color: #F2F2F2;
} 
#bloc1 {
    width: auto;
    height: 80%;
    padding-right: 20px;
    margin-left: 30px;
    display: flex;   
    background-color: #F2F2F2;
    flex-wrap: wrap;
    justify-content: space-between;
} 
.canne, .port1, .mouettes, .mer, .panier, .amina {
    width: 27%;
    height: 40%;
    padding-right: 2px;
    border-radius: 15px 15px 15px 15px;
    justify-content: space-between;
}
.canne img, .port1 img, .mouettes img, .mer img, .panier img, .amina img {
    width:  100%;
    height: 55%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.lit-hotel, .hotelport, .hotmouette, .hotmer, .aubpanier, .hotamina {
    width: 100%;
    height: 100%;
    padding: 2px 2px 2px 2px;
    border-radius: 15px 15px 15px 15px;
    margin-top: 0px;
    margin-left: 0px;
    background-color: #ffffff;
    border: solid 2px #ffffff;
    box-shadow: 0px 0px 8px #000000;
    cursor: pointer;
}
.lit-hotel:hover, .hotelport:hover, .hotmouette:hover, .hotmer:hover, .aubpanier:hover, .hotamina:hover {
    transform: scale(1.02);
} 
.p1, .p2, .p3, .p4, .p5, .p6 {
    width: 100%;
    height: 40%;
    justify-content: space-between;
}
.p1 p, .p2 p, .p3 p, .p4 p, .p5 p, .p6 p {
    height: 25px;
    line-height: 13px;  
    font-size: 15px;
    margin-bottom: auto;
    margin-top: auto;
    font-weight: bold; 
}
.prix p {
    opacity: 0.5;
}
.star1, .star2, .star3, .star4, .star5, .star6 {
    color: #0000ff; 
    height: auto; 
    margin-bottom: 2px;
}
.etoile4, .etoile5 {
    color: #707070;
}
.plus {
    height: 30px;
    padding-top: 0px;
    margin-right: auto;
    width: auto;
}
.plus p {
    align-items: center;
    margin-left: 30px;
    margin-top: 5px;
    font-weight: bold;
}
#connus {
    width:38%;
    height: auto;
    border-radius: 10px 10px 10px 10px;
    background-color: #F2F2F2;
}
#titre {
    display: flex;
    height: 50px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 10px;
}
.titreconu {
    width: auto;
    height: auto;
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
.titreconu p {
    font-size: 20px;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.graph {
    color: #000000;
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: auto;
    margin-top: 10px;
}
.soleil, .coeur, .bleu {
    margin: 20px 20px 20px 20px;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    margin-top: 0px;
    box-shadow: 0px 0px 8px #000000;
}
.solmatin, .coeur-eau, .hotbleu {
    display: flex;
    margin: 0px 0px 0px 0px;
    border: solid 4px #ffffff;
    border-radius: 10px 10px 10px 10px;
}
.solmatin:hover, .coeur-eau:hover, .hotbleu:hover {
    transform: scale(1.01);
    cursor: pointer;
}
.soleil img, .coeur img, .bleu img {
    width: 30%;
    height: 130px;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
}
.connu1, .connu2, .connu3 {
    width: auto; 
    margin-left: 2%; 
}
.connu1 p, .connu2 p, .connu3 p {
    flex-wrap: wrap;
}
.nom {
    font-weight: bold;
    height: auto;
}
.star7, .star8, .star9 {
    color: #0000ff;
}
#activites {
    width: 90%;
    margin-left: 5%;
}
#activites h2 {
    font-weight: bold;
}
#bloc-milieu {
    display:flex;
    width: 100%;
    height: 500px;
    justify-content: space-between;
    margin-bottom: 20px;
}
#miniport, #miniparc {
    display: flex;
    width: 47.5%;
    height: 100%;
    justify-content: space-between;
}
#miniport1, #miniparc1 {
    width: 45%;
    height: 100%;
}
.vieuxport:hover, .calanques:hover, .fortpome:hover, .ilefri:hover, .eglise:hover, .langchamp:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.vieuxport, .calanques {
    height: 100%;
    width: 45%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 8px #000000;
} 
.vieuxport img, .calanques img {
    width: 100%;
    height: 90%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.act3, .act6 {
    width: auto;
    height: 10%;
    padding-left: 20px;
    border-radius: 0px 0px 20px 20px; 
}
.fortpome {
    width: auto;
    height: 50%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 8px #000000;
    margin-bottom: 50px;
}

.fortpome img {
    height: 80%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.ilefri {
    width: auto;
    height: 40%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 8px #000000;
}
.ilefri img {
    width: 100%;
    height: 75%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    
}
.act4, .act5 {
    height: 25%;
    padding-left: 20px;
    border-radius: 0px 0px 20px 20px;
}
.eglise {
    width: auto;
    height: 40%;
    border-radius:  20px 20px 20px 20px;
    box-shadow: 0px 0px 8px #000000;
}
.eglise img {
    height:75%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.langchamp {
    width: auto;
    height: 50%;
    border-radius:  20px 20px 20px 20px;
    margin-top: 50px;
    box-shadow: 0px 0px 8px #000000;
}

.langchamp img {
    height: 80%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.act7 {
    height: 25%;
    padding-left: 20px;
    border-radius: 0px 0px 20px 20px;
}
.act8 {
    height: 20%;
    padding-left: 20px;
    border-radius: 0px 0px 20px 20px;
}
.act3 p, .act4 p, .act5 p, .act6 p, .act7 p, .act8 p {
    margin-top: 5px;
    font-size: 15px;
    width: auto;
}
 
#bloc-fin {
    display:flex;
    background-color:#F2F2F2;
    width: 95%;
    margin-left: 2.5%;  
}
#services {
    display: flex;
    margin-left: 40px;
    width: 75%;
    justify-content: space-between;
}
.services1, .services2, .services3 {
    font-size: 12px;
}
.services1 p, .services2 p, .services3 p {
    opacity: 0.5;
}
@media screen and (max-width: 1024px)
{
    body {
        width: 100%;
        padding: 0%;
        margin: auto;
    }
    #logmenu {
        width: 90%;
        display: flex;
    }
    .menu-services {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
    }
    #list {
        width: auto; 
        margin-left: 5%;
        margin-right: 5%;
    }
    .fil {
        margin-right: 10px;
        font-size: 20px;
    }
    .list1 {
        margin-right: 15px;
        width: auto;
    }
    .eco {
        width: auto;
        justify-content: space-around;
    }
    .eco i {
        margin-right: 15px;
    }
    .list2 {
        width: 110px;
    }
    .list2 p {
        width: auto;
    }
    
    #Hebergements {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        height: auto;
        margin-bottom: 10px;
    }
    .titre-heber {
        height: auto;
        margin-bottom: 0px;
    }
    .titre-heber h2 {
        margin-left: 0px;
    }
    #blocprinc {
        width: auto;
    }
    #bloc1 {
        width: 100%;
        height: 100%;
        margin-left: 0px;
        padding-right: 10px;
    }
    #connus {
        width: auto;
        margin-bottom: 10px;
    }
    .bloc2 {
        width: 100%;
    }
    .blocphoto {
        width: 100%;
        display: flex;
        padding-top: 2px;
    }
    .solmatin, .coeur-eau, .hotbleu {
        height: 100%;
    }
    .bleu, .coeur {
        width: 35%;
        height: 100%;
    }
    .soleil {
        width: 33%;
        height: 100%;
        margin-left: 20px;
    }
    .bleu img, .coeur img, .soleil img {
        width: 35%;
        height: 130px;
    }
    .bleu p, .coeur p, .soleil p {
        width: 100%;
        font-size: 15px;
        margin-top: 2px;
        height: auto;  
    }
    .prix {
       width: 100%;
       flex-wrap: nowrap;
       height: 30px;
       margin-top: 10px;
    }
    .nom {
        height: 40px;
        width: 100%;
    }
    .star7, .star8, .star9 {
        margin-top: 10px;
        width: 100%;
        height: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .connu1, .connu2, .connu3 {
        height: auto;
        width: 65%;
        padding-left: 0%;
        flex-wrap: nowrap;
    }
    #bloc1 {
        margin-right: 0px;
        width: auto;
        height: 80%;
    }
    .canne, .port1, .mouettes,  .mer, .panier, .amina {
        width: 30%;
        height: 40%;
    }
    .canne img, .port1 img, .mouettes img, .mer img, .panier img, .amina img {
        width: 100%;
        height: 100px;
        object-fit: cover;
    }
    .p1 p, .p2 p, .p3 p, .p4 p, .p5 p, .p6 p {
        height: auto;
        margin-left: 4px;
    }
    .star1, .star2, .star3, .star4,  .star5, .star6 {
        margin-top: -4px;
        margin-left: 4px;
    } 
    .act3,.act4, .act5, .act6, .act7, .act8 {
        flex-wrap: nowrap;
        width: auto;
    } 
    #miniport, #miniparc {
        display: block;
    }
    .vieuxport, .calanques {
        height: 40%;
        width: auto;
    }
    .vieuxport img, .calanques img{
    height: 75%;
    }
    #miniport1, #miniparc1 {
        display: flex;
        height: 55%;
        width: auto;
        justify-content: space-between;
        margin-top: 5%;
    }
    .ilefri, .fortpome, .eglise {
        height:100%;
        width: 45%;
    }
    .langchamp {
        height:100%;
        width: 45%;
       margin-top: 0px;
    }
    .fortpome img, .ilefri img, .eglise img, .langchamp img {
        height: 80%;
    }
    .act4,.act5, .act7, .act8  {
        height: 20%;
    }
    .act3, .act6 {
        height: 30%;
    }
}
@media screen and (max-width: 766px) 
{
  body {
        width: 100%;
    }
    .logo {
        margin-left: 10%;
        grid-area: logmenu;
    }
    .menu-services {
        grid-area: heber;
        width: 100%;
    }
    .menu-services a {
        width: 50%;
        border-bottom: solid #F2F2F2;
    }
    .menu-services a:hover{
        border-bottom: #0000ff 3px solid;   
    }
    .act0:hover, .act1:hover {
        border-top: none;
    }
    .inscription {
        grid-area: inscription;
        padding-right: 10px;
        margin-left: auto;
    }
    #logmenu {
        width: 100%;
        margin-left: auto;
        display: grid;
        grid-template-areas:
        "logmenu . inscription"
        "heber heber heber"
    }
    .navigation {
        width: auto;
        margin-right: 10px;

    }
    input[type="submit"] {
        display: none;
    }
    .maps {
       margin-left: 0px;
    }
    #search {
        width: 100%;
    }
    .mobsearch {
        display: flex;
        color: #ffffff;
        background-color: #0000ff;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 50px;
        border-radius: 0% 25% 25% 0%;
    }
    #list {
        display: block;
        width: auto;
    }
    .fil {
        width: auto;
        height: 20px;
        margin-bottom: 10px;
    }
    .eco {
        width: auto;
        justify-content: space-between;
    }
    .list1 {
        margin-bottom: 10px;
    }
    .list1 p {
       margin-right: auto;
    }
    .list2 {
        width: 200px;
    }
    .titre-pub i {
        border-radius: 50% 50% 50% 50%;
        width: 30px;
    }
    #connus {
        width: 100%;
        margin-bottom: 10px;
        margin-left: 0%;
    }
    .bloc2 {
        padding-left: 0%;
    }
    #titre {
        width: 100%;
        height: auto;
        justify-content: space-between;
    }
    .titreconu p {
        margin-bottom: 05px;
        width: auto;
        margin-left: -10px;
    }
    .graph {
        margin-bottom: 05px;
        margin-right: 10px;
    }
    .blocphoto {
        display: flex;
        flex-direction: column;
    }
    .bleu, .coeur, .soleil {
        width: 95%;
        margin: auto;
        margin-top: 10px;
    }
    .connu1, .connu2, .connu3 {
       margin-left: 10px;
    }  
    #Hebergements {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        margin-left: 0%;
    }
    #blocprinc {
        width: 100%;
        margin: auto;
        height: auto;
    }
    .titre-heber {
        width: auto;
        height: auto;
    }
    .titre-heber h2 {
       margin-top: 10px;
       margin-left: 10px;
    }
    #bloc1 {
        display: block;
        width: auto;
        height: 100%; 
        margin: auto;
    }
    .hotmer, .aubpanier, .hotamina, .lit-hotel, .hotelport, .hotmouette {
        margin-bottom: 0px;
        margin-top: 20px;
        margin-left: 2.5%;
        height: auto;
        width: 95%;
    }
    .canne, .port1, .mouettes,  .mer, .panier, .amina {
        width: 100%;
        height: auto;
    }
    .canne img, .port1 img, .mouettes img, .mer img, .panier img, .amina img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    .plus p {
       height: auto;
       margin-left: 10px;
       margin-top: 10px;
       font-size: 15px;
    }
    #activites {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .maractiv h2{
        padding-left: 10px;
        font-size: 20px;
    }
    #bloc-milieu {
        display: block;
        width: 100%;
        height: auto;
    }
    #miniport, #miniparc {
        display: block;
        width: auto;
        height: auto;
    }
    #miniparc1, #miniport1 {
        width: auto;
        height: auto;
        flex-direction: column;
        padding-top: 0px;
        margin-top: 0px;
    }
    .fortpome img, .eglise img, .calanques img, .ilefri img, .vieuxport img, .langchamp img {
        width: 100%;
        height:150px;
        margin-top: auto;
        object-fit: cover;
    }
    .eglise, .calanques, .vieuxport, .langchamp, .ilefri {
        width: 95%;
        height: auto;
        margin-top: 20px;
        margin-left: 2.5%;
    }
    .fortpome {
        width: 95%;
        margin-left: 2.5%;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .act3, .act4, .act5, .act6, .act7, .act8 {
        width: auto;
        height: 50px;
        margin-bottom: auto;
    }
    #bloc-fin {
        width: 100%;
        height: auto;
        margin-left: auto;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    #services {
        display: block;
        justify-content: space-between; 
    }
}

